* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cera Pro";
}
button,
svg {
  cursor: pointer;
}
body {
  background-color: red;
}

@font-face {
  font-family: "Cera Pro";
  src:
    url("./assets/fonts/CeraPro-Regular.woff2") format("woff2"),
    url("./assets/fonts/CeraPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src:
    url("./assets/fonts/CeraPro-Bold.woff2") format("woff2"),
    url("./assets/fonts/CeraPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src:
    url("./assets/fonts/CeraPro-Light.woff") format("woff2"),
    url("./assets/fonts/CeraPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src:
    url("./assets/fonts/CeraPro-Medium.woff") format("woff2"),
    url("./assets/fonts/CeraPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src:
    url("./assets/fonts/CeraPro-Thin.woff") format("woff2"),
    url("./assets/fonts/CeraPro-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
